@model IEnumerable<WebApplication1.Models.Trainer>

@{
    Layout = null;
}

@if (User.Identity.IsAuthenticated)
{
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-grid.min.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-reboot.min.css" rel="stylesheet" />
        <link href="~/Content/Styleheadertrainee.css" rel="stylesheet" />
        <link href="~/Content/Stylemainhometrainee.css" rel="stylesheet" />
    </head>
    <body>
        <!-- header -->
        <header>
            <nav class="navbar navbar-expand-sm bg-success navbar-dark fixed-top">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/Trainees/Index">Trainees</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Trainers/Index">Trainers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Categories/Index">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Topics/Index">Topics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Courses/Index">Courses</a>
                    </li>
                </ul>
                @using (Html.BeginForm("Index", "Trainers", FormMethod.Get))
                {
                    @Html.TextBox("searching")<input type="submit" value="Search" class="btn btn-success" />


                }
                <div class="Logout">
                    <a href="/Home/SignOut">Log Out</a>
                </div>

                <p style=" position: absolute; top: 11px; right: 400px">

                    @Html.ActionLink("Edit Your Profile", "Edit", "Staffs")

                </p>
            </nav>

        </header>
        <!-- Header -->
        <div class="content" Style="padding-top:50px">
            <h2>List of trainers</h2>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Telephone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Education)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Department)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Account.Username)
                    </th>
                    <th>Function</th>
                </tr>
                @if (Model.Count() == 0)
                {
                    <tr>
                        <td colspan="3" style="color:forestgreen">
                            No Match Any Document

                        </td>
                    </tr>


                }
                else
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Telephone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Education)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Department)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Account.Username)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.TrainerID }, new { @class = "btn btn-light" }) |
                                @Html.ActionLink("Details", "Details", new { id = item.TrainerID }, new { @class = "btn btn-warning" }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.TrainerID }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }

                }



            </table>
            <p style="margin-top: 65px">
                @Html.ActionLink("Create New Trainer", "Create", "Trainers", new { @class = "btn btn-success" })
            </p>
        </div>
        <script src="~/Scripts/jquery-3.5.0.js"></script>
        <script src="~/Scripts/bootstrap.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
    </body>

}


