@model WebApplication1.Models.Trainee

@{
    ViewBag.Title = "Details";
 
}

<h2>Details</h2>

<div>
    <h4>Trainee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Education)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Education)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TOEIC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TOEIC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Account.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.Username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TraineeID }, new{@class="btn btn-success"}) |
    @Html.ActionLink("Back to List", "Index","Trainees", new { @class = "btn btn-warning" })
</p>
